body {
  font-family: "helvetica neue", sans-serif;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #333;
}

#map {
  height: 80%;
}

.summary {
  list-style-type: none;
  padding-left: 0;
  font-family: Georgia, serif;
  font-size: larger;
}

.summary #program-name {
  font-size: larger;
}

.summary #type {
  font-size: smaller;
  padding-bottom: 1em;
}

.provider-phone {
  font-family: Georgia;
  font-size: large;
}
