body {
  font-family: "helvetica neue", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #333;
}

#map {
  height: 80%;
  border-bottom: 1px solid hsla(200, 80%, 60%, 0.25);
}

.summary {
  list-style-type: none;
  padding-left: 0;
  font-family: Georgia, serif;
  font-size: larger;
}

.summary #program-name {
  font-size: larger;
}

.summary #type {
  font-size: smaller;
  padding-bottom: 1em;
}

.provider-phone {
  font-family: Georgia;
  font-size: large;
}

.explanation {
  margin: 3em;
}

#introduction {
  margin-bottom: 4em;
}

#colophon-link {
  cursor: pointer;
  font-weight: 500;
}

.invisible {
   opacity: 0;  
}

.visible {
  opacity: 1;
}

